* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*Utility Classes*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container-1 {
    width: 1200px;
    margin: 0 auto;
}

.container-2 {
    width: 1000px;
    margin: 0 auto;
}

/*End Utility Classes*/

header {
    background-color: rgb(180,208,231);
}

.navbar {
    background-color: white;
    padding: 20px 15px;
}

.logo img {
    vertical-align: middle;
}

ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.849);
    font-weight: bold;
}

button {
    padding: 5px 15px;
    border: none;
    background-color: rgb(0,97,255);
    color: white;
}

.navbar button {
    margin-left: 20px;
}

header .container-1 {
    padding: 30px 30px 0;
}

header h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

header .info {
    width: 30%;
}

header p {
    font-size: 15px;
    padding-right: 10px;
    margin-bottom: 20px;
}

header .details {
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 8px;
    margin-bottom: 30px;
}

.arrow {
    font-size: 50px;
}

#jumbo {
    width: 70%;
    margin-bottom: -84px;
}

main {
    padding: 150px 0;
}

main h1 {
    font-size: 40px;
    margin-bottom: 30px;

}

input[type="radio"] {
    vertical-align: middle;
}

.radio {
    font-size: 15px;
    margin-right: 20px;
}

.column {
    width: calc(1000px / 3 - 16.7px);
    float: left;
    margin-top: 30px;
    border: 1px solid lightgrey;
}

.center {
    margin: 30px 25px;
}

.type {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.815);
    height: 3em;
    line-height: 3em;
}

.type::before {
    content: "\2603";
    margin-right: 8px;
    font-size: 28px;
}

.column .plan {
    padding: 25px 25px 0;
}

.column .price {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 0;
}

main .details {
    font-size: 15px;
    color: lightslategray;
    margin-bottom: 50px;
}

.details-2 {
    width: 230px;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.774);
    padding-top: 8px;
    float: left;
}

.chess {
    width: 30px;
    height: 70px;
    float: left;
    font-size: 25px;
    padding-right: 5px;
}

.column button {
    margin-top: 50px;
}

.alternative, .details-3 {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.774);
    margin: 20px 0;
}

.check::before {
    content: "\2713";
    color: rgb(0,97,255);
    padding-right: 5px;
}

.check{
    padding: 10px 0;
}

.details-3 h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.945);
    margin-bottom: 20px;
}

hr {
    width: 20%;
    border-color: lightgrey;
    margin: 30px 0;
}

.Enterprise {
    border: 1px solid lightgray;
}

.Enterprise .text {
    width: 65%;
    padding: 25px;
}

.Enterprise .contact {
    width: 35%;
    padding: 25px;
}

.Enterprise h2 {
    margin-bottom: 20px;
}

.Enterprise button {
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.Partner {
    margin: 100px 0;
}


.Partner img {
    width: 50%;
}

.Partner .text {
    width: 50%;
    padding-top: 80px;
    padding-left: 80px;
}

.operation {
    width: calc(1000px / 3);
    float: left;
    border: 1px solid black;
    height: 600px;
}

.operation img {
    width: 100%;
}

.box-1 {
    width: calc(100% / 3);
    float: left;
    height: 506.39px;
}

.box-2 {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}

.box-2 img {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.one {
    background-color: rgb(162,211,155);
}

.two {
    background-color: rgb(97,8,43);
}

.three {
    background-color: rgb(0,147,206);
}

.four {
    background-color: rgb(255,28,28);
}

.five {
    background-color: rgb(213,0,31);
}

.six {
    background-color: rgb(180,208,231);
}

.seven {
    background-color: rgb(13,36,129);
}

.eight {
    background-color: rgb(255,216,48);
}

.box-1.middle {
    padding: 50px 30px;
}

.box-1.middle img {
    width: 20%;
}

.Clients aside {
    background-color: rgb(180,208,231);
    padding: 80px;
}

aside h1 {
    width: 60%;
    color: rgb(97,8,43);
    font-size: 50px;
    display: inline-block;
}

aside button {
    vertical-align: top;
    color: rgba(0, 0, 0, 0.897);
    background-color: white;
    font-weight: bold;
    height: 50px;
    width: 250px;
    margin-left: 100px;
    margin-top: 15px;
}







